.footer {
  text-align: center;
  padding: 34px 0;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(181deg, rgba(255, 255, 255, 0.95) 0%, rgba(179, 32, 15, .6) 100%);
  border-radius: 10px 10px 0 0;
}