.footer {
  color: rgba(255,255,255,.8);
  border-top: 1px solid rgba(0,0,0,.3);
  background-color: #263238;
  font-size: 18px;
  padding: 24px 0;
  box-shadow: -4px -6px 10px rgba(0,0,0,.2);
  line-height: 1.6;

  &__copyright {
    @include laptop {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
      margin-bottom: 1.2rem;
    }
    @include mobile {
      gap: 4px;
    }
  }

  &__company {
    color: $orange;
    font-size: 18px;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .row {
    align-items: center;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__link {
    transition: all .3s ease;
    padding: 6px;
    line-height: 1;
    fill: rgba(255,255,255,.8);

    &:hover {
      fill: $orange;
      transform: translateY(-3px);
    }
  }

  &__icon {
    height: 20px;
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

    @include laptop {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
    }

    @include tablet {
      justify-content: center;
      margin-top: 1.2rem;
    }

    @include mobile {
      gap: 4px;
    }
  }

  &__contact {
    font-size: inherit;
    transition: color .2s linear;
    @extend .text-overflow;

    &:hover {
      color: $orange;
    }
  }
}