html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $base-fonts;
  color: #212121;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;

  background-color:#efefef;


  &.no-scroll {
    overflow: hidden;
  }

  &.show-sidebar {
    overflow: hidden;
  }

}

footer {
  margin-top: auto;
}

.hidden-title {
  visibility: hidden;
  height: 0;
}

.page-mask {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-left: auto;
  height: 100%;
  background-color: rgba(0,0,0, 0);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .2s linear;


  .show-sidebar & {
    background-color: rgba(0,0,0,.8);
    z-index: 3;
  }
}