.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px dashed #ffdc59;

  &__container {
    flex: 0 0 50%;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @include tablet {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include mobile-large {
      flex: 0 0 100%;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    &--left {
      color: $orange;
      text-align: right;
      background-color: $grey-bg;
      padding-right: 4rem;

      @include tablet {
        padding-right: 3rem;
      }
      
      @include mobile-large {
        text-align: left;
        padding-right: 0;
      }
    }

    &--right {
      color: $black;
      text-align: left;
      background-color: $orange;
      padding-left: 4rem;

      @include tablet {
        padding-left: 3rem;
      }

      @include mobile-large {
        padding-left: 0;
      }
    }
  }

  .contacts__inner {
    max-width: 720px;

    @include mobile-large {
      max-width: 100%;
    }

    &--left {
      padding-left: 15px;
      margin-left: auto;

      @include mobile-large {
        padding-right: 15px;
      }
    }

    &--right {
      padding-right: 15px;

      @include mobile-large {
        padding-left: 15px;
      }
    }
  }

  &__title {
    font-family: $poppins;
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 1.4rem;
  }

  &__item {
    & + & {
      margin-top: 4rem;

      @include tablet {
        margin-top: 3rem;
      }
    }
  }

  &__item-header {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: .8rem;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 10rem;
      background-color: $black;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-family: $poppins;
    font-weight: 500;
  }

  &__item-subtitle {
    padding-left: 10px;
    font-size: 14px;
    color: lighten($black, 10%);
    max-width: 70%;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    justify-content: space-around;

    @include mobile {
      gap: 10px 30px;
      justify-content: flex-start;
    }
  }
}