@keyframes headerFixed {
  from {
    opacity: 0;
    transform: translateY(-51%);
  } to {
    opacity: 1;
        transform: translateY(0);
      }
}
.header {
  $root: &;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, .1);
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
  padding: 0.5rem;
  min-height: 4rem;

  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    animation-name: headerFixed;
    animation-duration: 1s;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}