.btn {
  font-size: 16px;
  line-height: 1;
  display: inline-block;

  white-space: nowrap;
  border-radius: 1em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $poppins;
  transition: all .2s linear;

  &--default {
    padding: 1.2rem 3rem;
    min-width: 242px;
  }

  &--small {
    padding: .8rem 2rem;
  }

  &--orange {
    color: #fff;
    background-color: $orange;
    border: 2px solid transparent;

    &:hover {
      background-color: transparent;
      border-color: $orange;
    }

    .btn__icon {
      fill: #fff;
      height: 16px;
      margin-right: 1rem;
    }
  }

  &--black {
    border: 2px solid $black;

    &:hover {
      background-color: $orange;
      border-color: transparent;
      color: #fff;
    }
  }

  &--black2 {
    border: 2px solid $black;

    &:hover {
      background-color: $black;
      color: #fff;
    }
  }

  @include mobile {
    font-size: 15px;
    padding: 1rem 2.8rem;
  }
}