.link {
  font-size: 20px;
  font-weight: 500;
  @extend .text-overflow;
  
  &:hover {
    text-decoration: underline;
  }

  &__icon {
    height: 20px;
    margin-right: 4px;
    vertical-align: bottom;
  }

  span {
    line-height: 1.4;
  }
}