.about {

  .col-md-6:not(:nth-child(-n + 2)) {
    @include tablet {
      margin-top: 4rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .col-xs-12:not(:nth-child(-n + 1)) {
    @include mobile {
      margin-top: 3rem;
    }
  }
}