<div class="header__top">
    <button class="burger" id="burger">
        <span>open navigation</span>
    </button>
    <div class="container">
        <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="logo Social spirit">
        </a>
        <nav>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Testimonials</a>
            <a href="#">Contact Us</a>
        </nav>
    </div>
</div>




