<button class="burger" id="burger">
    <span>open navigation</span>
</button>
<div class="container header__container">
    <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="logo Social spirit">
    </a>
    <nav class="nav nav--header">
        <a class="nav__item" href="#about">About Us</a>
        <a class="nav__item" href="#services">Services</a>
        <a class="nav__item" href="#portfolio-sec">Portfolio</a>
        <a class="nav__item" href="#testimonial">Testimonials</a>
        <a class="nav__item" href="#contact-us">Contact Us</a>
    </nav>
</div>



