<div class="header__top">
    <button class="burger" id="burger">
        <span>open navigation</span>
    </button>
    <div class="container header__container">
        <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="logo Social spirit">
        </a>
        <nav class="nav">
            <a class="nav__item" href="#">Home</a>
            <a class="nav__item" href="#">About Us</a>
            <a class="nav__item" href="#">Services</a>
            <a class="nav__item" href="#">Portfolio</a>
            <a class="nav__item" href="#">Testimonials</a>
            <a class="nav__item" href="#">Contact Us</a>
        </nav>
    </div>
</div>




