<aside class="sidebar" id="sidebar">
    <nav class="nav nav--sidebar">
        <a class="nav__item" href="#about">
            <i class="fas fa-user-friends"></i>
            <span>About Us</span>
        </a>
        <a class="nav__item" href="#services">
            <i class="fas fa-cog"></i>
            <span>Services</span>
        </a>
        <a class="nav__item" href="#portfolio">
            <i class="fas fa-portrait"></i>
            <span>Portfolio</span>
        </a>
        <a class="nav__item" href="#testimonial">
            <i class="fas fa-comment-dots"></i>
            <span>Testimonials</span>
        </a>
        <a class="nav__item" href="#contact-us">
            <i class="fas fa-mobile-alt"></i>
            <span>Contact Us</span>
        </a>
    </nav>
</aside>